<div class="col-xs-12 challenge">
    <div class="badge">
        <img src="http://foursquareguru.com/media/badges/banksy_big.png" />
        <div class="title">Badger Badge</div>
    </div>
    <div id="percent">
        60<span>%</span>
    </div>
</div>
<div class="col-xs-12 items">
    <div class="item">
        <img class="icon" src="imgs/icon.png" />
        <p><span class="digit count">50</span> neg-lever <span class="digit percent">120</span>% <span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
    <div class="item">
        <img class="icon" src="imgs/icon.png" />
        <p><span class="digit count">60</span> pull-ups <span class="digit percent">120</span>% <span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
    <div class="item">
        <img class="icon" src="imgs/icon.png" />
        <p><span class="digit count">20</span> lever reps <span class="digit percent">120</span>% <span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
    <div class="item">
        <img class="icon" src="imgs/icon.png" />
        <p><span class="digit count">50</span> neg-lever <span class="digit percent">120</span>% <span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
    <div class="item">
        <img class="icon" src="imgs/icon.png" />
        <p><span class="digit count">100</span> squats <span class="digit percent">120</span>% <span class="glyphicon glyphicon-chevron-right"></span></p>
    </div>
</div>